@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(100deg, #bdd1f0, #fec8dd);
}

.judul{
  color: #ea2865;
  font-weight: 700;
  font-size: 1.7rem;
}

.content{
  width: 100%;
  padding: 0 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.content1{
  margin-top: 30px;
}

.content2{
  margin-top: 30px;
}

.salam{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  padding: 0 30%;
  box-sizing: border-box;
}

.salam .judul{
  margin-bottom: 20px;
}

@media screen and (max-width: 500px){
  *{
    font-size: 1.2rem;
    text-align: left;
    justify-content: left;
  }

  .container{
    padding: 10px;
    box-sizing: border-box;
  }

  .content{
  padding: 0 5%;

  }

  .content1{
    margin-top: 30px;
  }
  
  .content2{
    margin-top: 30px;
  }

  .salam{
    margin-top: 50px;
  }

  .judul{
    font-size: 2rem;
  }

  .salam{
  padding: 0 5%;
  }

  .salam .judul{
    margin-bottom: 20px;
  }
}